<p>error-page works!</p>
<h3>Login</h3>

<ul>
  <li>
    <a [routerLink]="['/auth/login']">Ir a Login</a>
  </li>
  <li>
    <a [routerLink]="['/auth/registro']">Ir a Registro</a>
  </li>
</ul>
<h3>Heroes</h3>
<ul>
  <li>
    <a [routerLink]="['/heroes/listado']">Ir a listado de heroes</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/buscar']">Buscar heroes</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/12']">Buscar heroe</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/editar/12']">Editar heroe</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/guardar']">Guardar heroe</a>
  </li>
</ul>
